.text {
    margin: 30px;
}


/*////////HEART///////*/
.heart {
    position: relative;
    top: 10px;
    right: 0;
    left: 50px;
    bottom: 0;
    background-color: #ff8497;;
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);
    animation-name: heartBeating;
    animation-duration: 5s;
}

.heart::after {
    background-color: #ff8497;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 25px;
}

.heart::before {
    content: '';
    background-color: #ff8497;;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -25px;
    left: 0;
}

@keyframes heartBeating {
    0% {
        transform: scale(1.4) rotate(-45deg);
    }
    5% {
        transform: scale(0.9) rotate(-45deg);
    }
    8% {
        transform: scale(1.0) rotate(-45deg);
    }

    16% {
        transform: scale(1.4) rotate(-45deg);
    }
    21% {
        transform: scale(0.9) rotate(-45deg);
    }
    24% {
        transform: scale(1.0) rotate(-45deg);
    }

    32% {
        transform: scale(1.4) rotate(-45deg);
    }
    37% {
        transform: scale(0.9) rotate(-45deg);
    }
    40% {
        transform: scale(1.0) rotate(-45deg);
    }

    48% {
        transform: scale(1.4) rotate(-45deg);
    }
    53% {
        transform: scale(0.9) rotate(-45deg);
    }
    56% {
        transform: scale(1.0) rotate(-45deg);
    }

    64% {
        transform: scale(1.4) rotate(-45deg);
    }
    69% {
        transform: scale(0.9) rotate(-45deg);
    }
    72% {
        transform: scale(1.0) rotate(-45deg);
    }

    80% {
        transform: scale(1.4) rotate(-45deg);
    }
    85% {
        transform: scale(0.9) rotate(-45deg);
    }
    88% {
        transform: scale(1.0) rotate(-45deg);
    }
}

